</main>

<footer class="navbar-footer text-light pt-5 pb-4 mt-auto">
    <div class="container text-center text-md-start">
        <div class="row text-center text-md-start">

            <!-- ABOUT -->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Fenzo</h5>
                <p>
                    On our platform, you can find high-quality products.
                    Fast delivery and a secure payment system are guaranteed.
                </p>
            </div>

            <!-- MENU -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Menu</h5>
                <p><a href="/" class="text-white text-decoration-none">Home</a></p>
                <p><a href="/products" class="text-white text-decoration-none">Products</a></p>
                <p><a href="/signup" class="text-white text-decoration-none">Sign Up</a></p>
                <p><a href="/help" class="text-white text-decoration-none">Help</a></p>
            </div>

            <!-- CONTACT -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Contact</h5>
                <p><i class="fas fa-home me-2"></i> Tashkent, Uzbekistan</p>
                <p><i class="fas fa-envelope me-2"></i> info@fenzo.uz</p>
                <p><i class="fas fa-phone me-2"></i> +998 90 123 45 67</p>
            </div>

            <!-- SOCIAL -->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Follow Us</h5>
                <a href="#" class="btn btn-primary btn-floating m-1" style="background-color: #3b5998; border: none;">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#" class="btn btn-info btn-floating m-1" style="background-color: #55acee; border: none;">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#" class="btn btn-danger btn-floating m-1" style="background-color: #dd4b39; border: none;">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="#" class="btn btn-primary btn-floating m-1" style="background-color: #0088cc; border: none;">
                    <i class="fab fa-telegram"></i>
                </a>
            </div>
        </div>

        <hr class="mb-4">

        <!-- COPYRIGHT -->
        <div class="row align-items-center">
            <div class="col-md-7 col-lg-8">
                <p>
                    © <%= new Date().getFullYear() %> All rights reserved:
                    <a href="#" style="text-decoration: none;">
                        <strong class="text-warning">FENZO Team</strong>
                    </a>
                </p>
            </div>
        </div>
    </div>
</footer>

</body>
</html>
